@model EventViewModel
@using event_management_asp_project.Models.ViewModels

@{
    ViewData["Title"] = "Find Event";
}

<main class="main">
    <!-- Page Title -->
    <div class="page-title" data-aos="fade" style="background-image: url(https://images.unsplash.com/photo-1540575467063-178a50c2df87?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <div class="container position-relative">
            <h1>@ViewData["Title"]</h1>
            <p></p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a asp-action="Index">Events</a></li>
                    <li class="current">@ViewData["Title"]</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- End Page Title -->
    <!-- Latest Event Section -->
    <div id="events" class="hotels section">

        <div class="container section-title" data-aos="fade-up">
            <h2>Explore</h2>
            <p>Find your next adventure among our diverse lineup of events.</p>
        </div>



        <div class="container" data-aos="fade-up">
            <form asp-action="FindEvent" class="row">
                <div class="col-10">
                    <label asp-for="Title" class="form-label" hidden></label>
                    <input asp-for="Title" class="form-control mb-2" placeholder="Search By Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-1">
                    <input type="submit" value="Search" class="btn btn-danger" />
                </div>
                <div class="col-1">
                    <input type="submit" value="Search" class="btn btn-danger" />
                </div>
            </form>
            @if (String.IsNullOrEmpty(Model.Title))
            {
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="text-center" style="padding-top:50px;">
                        <i class="bi bi-search text-secondary" style="font-size: 100px;"></i>
                        <h2 class="text-secondary">Search events by title above.</h2>
                    </div>
                </div>
            }
            else if (Model.Events is null || Model.Events!.Count().Equals(0))
            {
                <div class="container d-flex align-items-center justify-content-center">
                    <div class="text-center" style="padding-top:50px;">
                        <i class="bi bi-x-circle text-danger" style="font-size: 100px;"></i>
                        <h2 class="text-secondary">No Events found!</h2>
                    </div>
                </div>
            }
            else
            {
                <div class="row gy-4" style="padding-top:20px;">
                    @foreach (var e in Model.Events!)
                    {
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="card h-100">
                                <div class="card-img">
                                    <img src="~/assets/img/hotels-1.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h3><a asp-action="Details" asp-route-id="@e.EventId" class="stretched-link">@e.Title</a></h3>
                                    <p>@e.DurationInHours hours</p>
                                </div>
                                @if (e.Description.Length <= 100)
                                {
                                    <p>@e.Description</p>
                                }
                                else
                                {
                                    <p>@e.Description.Substring(0, 97)...</p>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <!-- /Latest Event Section -->
</main>

<partial name="../Shared/PartialViews/_CopyrightFooterSection" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
