@model IEnumerable<event_management_asp_project.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationInHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Number of guests</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationInHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.Guests.Count()
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.EventId" class="btn btn-primary">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
